body {
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    font-family: sans-serif;    
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

ul {
    list-style:none
}

.recipes {
    width: auto
}

.title {
    background-color: rgb(239, 141, 13);
    margin: 5px;
    padding: 30px;
    border: 100px;
    text-align: center;
}

.link {
    background-color: rgb(156, 232, 177);
    margin: 50px;
    padding: 50px;
}

#beans {
    box-sizing: border-box;
    background-color: rgb(255, 0, 0);
    padding: 10px;
    width: 100px;
    margin-bottom: 10px;
    text-align: center;
}

#donuts {
    box-sizing: border-box;
    background-color: rgb(138, 43, 226);
    padding: 10px;
    width: 100px;
    margin-bottom: 10px;
    text-align: center;
}

#pizza {
    box-sizing: border-box;
    background-color: rgb(222, 184, 135);
    padding: 10px;
    width: 100px;
    margin-bottom: 10px;
    text-align: center;

}

#meatballs {
    box-sizing: border-box;
    background-color: rgb(224, 237, 81);
    padding: 10px;
    width: 100px;
    margin-bottom: 10px;
    text-align: center;
}
